@using Microsoft.AspNetCore.Http
<!doctype html>
<html lang="en" class="no-focus">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title>Cloud Dentist - Dental Clinic System </title>
    <!-- Open Graph Meta -->
    <meta property="og:title" content="Dental clinic">
    <meta property="og:site_name" content="Dental Clinic">

    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="~/assets/media/favicons/favicon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/assets/media/favicons/favicon-192x192.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/media/favicons/apple-touch-icon-180x180.png">
    <!-- END Icons -->
    <!-- Stylesheets -->
    <!-- Page JS Plugins CSS -->
    <link rel="stylesheet" href="~/assets/js/plugins/datatables/dataTables.bootstrap4.css">
    <!-- Fonts and Codebase framework -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,400i,600,700">
    <link rel="stylesheet" id="css-main" href="~/assets/css/codebase.min.css">
    <link href="~/assets/css/alertify.min.css" rel="stylesheet" />
    <link href="~/assets/js/plugins/sweetalert2/sweetalert2.css" rel="stylesheet" />
    <!-- You can include a specific file from css/themes/ folder to alter the default color theme of the template. eg: -->
    <!-- <link rel="stylesheet" id="css-theme" href="assets/css/themes/flat.min.css"> -->
    <!-- END Stylesheets -->
</head>
<body>

    @if (Context.Session.GetString("Loginuser") == null)
    {
        Context.Response.Redirect("/Home/UnAuthorized");
    }
    <div id="page-container" class="sidebar-o enable-page-overlay side-scroll page-header-modern main-content-boxed">
        <!-- Side Overlay-->
        <aside id="side-overlay">
            <!-- Side Header -->
            <div class="content-header content-header-fullrow">
                <div class="content-header-section align-parent">
                    <!-- Close Side Overlay -->
                    <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                    <button type="button" class="btn btn-circle btn-dual-secondary align-v-r" data-toggle="layout" data-action="side_overlay_close">
                        <i class="fa fa-times text-danger"></i>
                    </button>
                    <!-- END Close Side Overlay -->
                </div>
            </div>
            <!-- END Side Header -->
            <!-- Side Content -->
            <div class="content-side">
                <!-- Search -->
                <div class="block pull-t pull-r-l">
                    <div class="block-content block-content-full block-content-sm bg-body-light">
                        <form action="be_pages_generic_search.html" method="post">
                            <div class="input-group">
                                <input type="text" class="form-control" id="side-overlay-search" name="side-overlay-search" placeholder="Search..">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-secondary px-10">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END Search -->
            </div>
            <!-- END Side Content -->
        </aside>
        <nav id="sidebar">
            <!-- Sidebar Content -->
            <div class="sidebar-content">
                <!-- Side Header -->
                <div class="content-header content-header-fullrow px-15">
                    <!-- Mini Mode -->
                    <div class="content-header-section sidebar-mini-visible-b">
                        <!-- Logo -->
                        <span class="content-header-item font-w700 font-size-xl float-left animated fadeIn">
                            <span class="text-dual-primary-dark">c</span><span class="text-primary">b</span>
                        </span>
                        <!-- END Logo -->
                    </div>
                    <!-- END Mini Mode -->
                    <!-- Normal Mode -->
                    <div class="content-header-section text-center align-parent sidebar-mini-hidden">
                        <!-- Close Sidebar, Visible only on mobile screens -->
                        <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                        <button type="button" class="btn btn-circle btn-dual-secondary d-lg-none align-v-r" data-toggle="layout" data-action="sidebar_close">
                            <i class="fa fa-times text-danger"></i>
                        </button>
                        <!-- END Close Sidebar -->
                        <!-- Logo -->
                        <div class="content-header-item">
                            <a class="link-effect font-w700" href="index.html">
                                <span class="font-size-xl text-dual-primary-dark"></span><span class="font-size-md text-primary">@Context.Session.GetString("Tenant")</span>
                            </a>
                        </div>
                        <!-- END Logo -->
                    </div>
                    <!-- END Normal Mode -->
                </div>
                <!-- END Side Header -->
                <!-- Side User -->
                <div class="content-side content-side-full content-side-user px-10 align-parent">
                    <!-- Visible only in mini mode -->
                    <div class="sidebar-mini-visible-b align-v animated fadeIn">
                        <img class="img-avatar img-avatar32" src="~/assets/media/avatars/avatar15.jpg" alt="">
                    </div>
                    <!-- END Visible only in mini mode -->
                    <!-- Visible only in normal mode -->
                    <div class="sidebar-mini-hidden-b text-center">
                        <a class="img-link" href="be_pages_generic_profile.html">
                            <img class="img-avatar" src="~/assets/media/avatars/avatar15.jpg" alt="">
                        </a>
                        <ul class="list-inline mt-10">
                            <li class="list-inline-item">
                                <a class="link-effect text-dual-primary-dark font-size-xs font-w600 text-uppercase" href="be_pages_generic_profile.html"> @Context.Session.GetString("Loginuser")</a>
                            </li>
                            <li class="list-inline-item">
                                <small>@Context.Session.GetString("Userrole")</small>
                            </li>
                        </ul>
                    </div>
                    <!-- END Visible only in normal mode -->
                </div>
                <!-- END Side User -->
             
                    <!-- Side Navigation -->
                    <div class="content-side content-side-full">
                        <ul class="nav-main">
                            <li>
                                <a asp-controller="Home" asp-action="Index"><i class="si si-cup"></i><span class="sidebar-mini-hide">Home</span></a>
                            </li>
                            @if (Context.Session.GetString("Userrole") == "Admin")
                            {
                                <li class="nav-main-heading"><span class="sidebar-mini-visible">UI</span><span class="sidebar-mini-hidden">Admin Menu</span></li>
                                <li>
                                    <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-users"></i><span class="sidebar-mini-hide">Manage User</span></a>
                                    <ul>
                                        <li>
                                            <a href="@Url.Action("AdminListDataUser", "Pengguna", new { rolename = "Dokter"})" class="collapse-item">
                                                Daftar Dokter
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("listDataPasien", "Pengguna")" class="collapse-item">
                                                Data Pasien
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("AdminListDataUser", "Pengguna", new { rolename = "Perawat"})" class="collapse-item">
                                                Data Perawat
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-controller="Tenant" asp-action="Index" class="collapse-item">
                                                Tenant Master
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-controller="Role" asp-action="Index" class="collapse-item">
                                                Role Master
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-controller="Penggajian" asp-action="Penggajian" class="collapse-item">
                                                Gaji Dokter
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-controller="Penggajian" asp-action="Listgajiperawat" class="collapse-item">
                                                Gaji Perawat
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Prosentasetenantid", "Prosentase", new { tenantID = Context.Session.GetString("TenantID")})" class="collapse-item">
                                                Prosentase
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-controller="User" asp-action="listuser" class="collapse-item">
                                                MASTER USER
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-moustache"></i><span class="sidebar-mini-hide">Manage Logistik</span></a>
                                    <ul>
                                        <li>
                                            <a href="@Url.Action("barangtenantid", "Barang", new { tenantID = Context.Session.GetString("TenantID")})" class="collapse-item">
                                                Barang
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("KatBarangbytenant", "KatBarang", new { tenantID = Context.Session.GetString("TenantID")})" class="collapse-item">
                                                Kategori Barang
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Belibytenant", "Beli", new { tenantID = Context.Session.GetString("TenantID")})" class="collapse-item">
                                                Pembelian
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-layers"></i><span class="sidebar-mini-hide">Tindakan</span></a>
                                    <ul>
                                        <li>
                                            <a href="@Url.Action("KatJenisbytenant", "KatJenisTindakan", new { tenantID = Context.Session.GetString("TenantID")})" class="collapse-item">
                                                Kategori Jenis Tindakan
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("JenisTindakantenantid", "JenisTindakan", new { tenantID = Context.Session.GetString("TenantID")})" class="collapse-item">
                                                JenisTindakan
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            @if (Context.Session.GetString("Userrole") == "Dokter")
                            {
                                <li class="nav-main-heading"><span class="sidebar-mini-visible">UI</span><span class="sidebar-mini-hidden">User Menu</span></li>
                                <li>
                                    <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-users"></i><span class="sidebar-mini-hide">Manage Data Diri</span></a>
                                    <ul>
                                        <li>
                                            <a href="@Url.Action("TambaheditDataUser", "User")" class="collapse-item">
                                                Manage Profile
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("ChangePassword", "User", new { tenantID = Context.Session.GetString("Loginuser")}))" class="collapse-item">
                                                Ganti Password
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-basket-loaded"></i><span class="sidebar-mini-hide">Transaksi</span></a>
                                    <ul>
                                        <li>
                                            <a href="@Url.Action("datapasien", "Pengguna", new { tenantID = Context.Session.GetString("Tenant")})" class="collapse-item">
                                                Daftar Pasien
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("listDataPasien", "Pengguna")" class="collapse-item">
                                                Setup Pasien
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            @if (Context.Session.GetString("Userrole") == "Perawat")
                            {
                                <li class="nav-main-heading"><span class="sidebar-mini-visible">UI</span><span class="sidebar-mini-hidden">User Menu</span></li>
                                <li>
                                    <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-users"></i><span class="sidebar-mini-hide">Manage Data Diri</span></a>
                                    <ul>
                                        <li>
                                            <a href="@Url.Action("TambaheditDataUser", "User")" class="collapse-item">
                                                Manage Profile
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("ChangePassword", "User", new { tenantID = Context.Session.GetString("Loginuser")}))" class="collapse-item">
                                                Ganti Password
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-basket-loaded"></i><span class="sidebar-mini-hide">Transaksi</span></a>
                                    <ul>
                                        <li>
                                            <a href="@Url.Action("listDataPasien", "Pengguna")" class="collapse-item">
                                                Setup Pasien
                                            </a>
                                        </li>
                                    </ul>
                                </li>

                            }
                            @if (Context.Session.GetString("Userrole") == "Pasien")
                            {
                                <li class="nav-main-heading"><span class="sidebar-mini-visible">UI</span><span class="sidebar-mini-hidden">User Menu</span></li>
                                <li>
                                    <a class="nav-submenu" data-toggle="nav-submenu" href="#"><i class="si si-users"></i><span class="sidebar-mini-hide">Manage Profile dan Transaksi</span></a>
                                    <ul>
                                        <li>
                                            <a href="@Url.Action("TambaheditDataUser", "User", new { Username = Context.Session.GetString("Loginuser")})" class="collapse-item">
                                                Manage Profile dan Cek transaksi
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("ChangePassword", "User", new { tenantID = Context.Session.GetString("Loginuser")}))" class="collapse-item">
                                                Ganti Password
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            }
                        </ul>
                    </div>

                    <!-- END Side Navigation -->
                }

            </div>
            <!-- Sidebar Content -->
        </nav>
        <!-- END Sidebar -->
        <!-- Header -->
        <header id="page-header">
            <!-- Header Content -->
            <div class="content-header">
                <!-- Left Section -->
                <div class="content-header-section">
                    <!-- Toggle Sidebar -->
                    <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                    <button type="button" class="btn btn-circle btn-dual-secondary" data-toggle="layout" data-action="sidebar_toggle">
                        <i class="fa fa-navicon"></i>
                    </button>
                    <!-- END Toggle Sidebar -->
                    <!-- Open Search Section -->
                    <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                    <button type="button" class="btn btn-circle btn-dual-secondary" data-toggle="layout" data-action="header_search_on">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
                <!-- END Left Section -->
                <!-- Right Section -->
                <div class="content-header-section">
                    <!-- User Dropdown -->
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-rounded btn-dual-secondary" id="page-header-user-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user d-sm-none"></i>
                            <span class="d-none d-sm-inline-block">@Context.Session.GetString("Loginuser")</span>
                            <i class="fa fa-angle-down ml-5"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right min-width-200" aria-labelledby="page-header-user-dropdown">
                            <h5 class="h6 text-center py-10 mb-5 border-b text-uppercase">User</h5>
                            <a class="dropdown-item" href="@Url.Action("TambaheditDataUser", "User")">
                                <i class="si si-user mr-5"></i> Profile
                            </a>
                            <div class="dropdown-divider"></div>
                            <!-- END Side Overlay -->

                            <div class="dropdown-divider"></div>
                            <a asp-controller="Login" asp-action="Logout" class="dropdown-item">
                                <i class="si si-logout mr-5"></i> Sign Out
                            </a>
                        </div>
                    </div>
                    <!-- END User Dropdown -->
                </div>
                <!-- END Right Section -->
            </div>
            <!-- END Header Content -->
            <!-- Header Search -->
            <div id="page-header-search" class="overlay-header">
                <div class="content-header content-header-fullrow">
                    <form action="be_pages_generic_search.html" method="post">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <!-- Close Search Section -->
                                <!-- Layout API, functionality initialized in Template._uiApiLayout() -->
                                <button type="button" class="btn btn-secondary" data-toggle="layout" data-action="header_search_off">
                                    <i class="fa fa-times"></i>
                                </button>
                                <!-- END Close Search Section -->
                            </div>
                            <input type="text" class="form-control" placeholder="Search or hit ESC.." id="page-header-search-input" name="page-header-search-input">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-secondary">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END Header Search -->
            <!-- Header Loader -->
            <!-- Please check out the Activity page under Elements category to see examples of showing/hiding it -->
            <div id="page-header-loader" class="overlay-header bg-primary">
                <div class="content-header content-header-fullrow text-center">
                    <div class="content-header-item">
                        <i class="fa fa-sun-o fa-spin text-white"></i>
                    </div>
                </div>
            </div>
            <!-- END Header Loader -->
        </header>
        <!-- END Header -->
        <!-- Main Container -->
        <main id="main-container">
            @*<partial name="_NotificationPanel" />*@
            <!-- Page Content -->
            <div class="content">
                @*<partial name="_NotificationPanel" />*@
                @RenderBody()
            </div>
            <!-- END Page Content -->
        </main>
        <!-- END Main Container -->
        <!-- Footer -->
        <footer id="page-footer" class="opacity-0">
            <div class="content py-20 font-size-xs clearfix">
                <div class="float-right">
                </div>
                <div class="float-left">
                    <a class="font-w600" href="https://1.envato.market/95j" target="_blank">Presented By ZAIA</a> &copy; <span class="js-year-copy">2020</span>
                </div>
            </div>
        </footer>
        <!-- END Footer -->

    </div>
    <!-- END Page Container -->
    @*Codebase JS Cores

        Vital libraries and plugins used in all pages. You can choose to not include this file if you would like
        to handle those dependencies through webpack. Please check out assets/_es6/main/bootstrap.js for more info.

        If you like, you could also include them separately directly from the assets/js/core folder in the following
        order. That can come in handy if you would like to include a few of them (eg jQuery) from a CDN.*@

    <script src="~/assets/js/core/jquery.min.js"></script>
    <script src="~/assets/js/codebase.core.min.js"></script>
    <script src="~/assets/js/codebase.app.min.js"></script>
    <script src="~/assets/js/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/assets/_es6/main/bootstrap.js"></script>
    <!-- Page JS Plugins -->
    <script src="~/assets/js/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/alertify.min.js"></script>
    <script src="~/assets/alertify.js"></script>
    <script src="~/assets/js/plugins/sweetalert2/sweetalert2.js"></script>
    <script src="~/assets/js/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- Page JS Code -->
    <script src="~/assets/js/pages/be_tables_datatables.min.js"></script>

    <!--
        Codebase JS

        Custom functionality including Blocks/Layout API as well as other vital and optional helpers
        webpack is putting everything together at assets/_es6/main/app.js
    -->
    <script src="~/assets/js/codebase.app.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>