@model IEnumerable<CloudDentist.Models.Barang>
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "barangtenantid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
        function Delete(Id) {
            alertify.confirm('Data Kategori','Apakah anda yakin untuk menghapus data ini ?!', function (e) {
                if (e) {
                    window.location.href = '@Url.Action("Delete","Barang")/' + Id;
                }
                else {
                     alertify.error("You've clicked Cancel");
                }
            }, null);

        }

</script>
<h5>Pengaturan Data Barang @Context.Session.GetString("Tenant")</h5>
<p>Fasilitas ini digunakan untuk mengolah data Barang ke dalam sistem</p>
<!-- Dynamic Table Full Pagination -->
<div class="block">
    <div class="block-header block-header-default">
        <h3 class="block-title">Barang<small></small></h3>
        <a href="@Url.Action("TambahEditDataBarang","Barang")" class="btn btn-primary bottom-buffer" id="btn-add-databarang" style="float:right;"><i class="fa fa-plus"></i> Barang</a>
    </div>
    @if (TempData["alert"] != null)
    {
        <script src="~/assets/js/plugins/sweetalert2/sweetalert2.js"></script>
        <script src="~/assets/js/plugins/sweetalert2/sweetalert2.min.js"></script>
        <script>
            swal("Hapus Data!!", "@TempData["Pesan"]", "error");
        </script>
    }
    @if (TempData["success"] != null)
    {
        <script src="~/assets/js/plugins/sweetalert2/sweetalert2.js"></script>
        <script src="~/assets/js/plugins/sweetalert2/sweetalert2.min.js"></script>
        <script>
            swal("Berhasil", "@TempData["Pesan"]", "success");
        </script>
    }
    @if (TempData["error"] != null)
    {
        <script src="~/assets/js/plugins/sweetalert2/sweetalert2.js"></script>
        <script src="~/assets/js/plugins/sweetalert2/sweetalert2.min.js"></script>
        <script>
            swal("ERROR", "@TempData["Pesan"]", "error");
        </script>
    }
    <div class="block-content block-content-full">
        <!-- DataTables functionality is initialized with .js-dataTable-full-pagination class in js/pages/be_tables_datatables.min.js which was auto compiled from _es6/pages/be_tables_datatables.js -->
        <table class="table table-bordered table-striped table-vcenter js-dataTable-full-pagination">
            <thead>
                <tr>
                    <th>Nama Barang</th>
                    <th>Nama Kategori</th>
                    <th>Stok</th>
                    <th>Min Stok</th>
                    <th>Harga</th>
                    <th>Keterangan</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)

                {
                    <tr>
                        <td>@item.NamaBarang</td>
                        <td>@item.KatBarang.NamaKategori</td>
                        <td>@item.Stok</td>
                        <td>@item.Minstok</td>
                        <td>@item.Harga</td>
                        <td>@item.Keterangan</td>
                        @*<td class="d-none d-sm-table-cell">@string.Join(",", item.Barang.ToList().Select(x => x.NamaBarang))</td>
                            <td class="d-none d-sm-table-cell"><a>@string.Join(",", item.Barang.ToList().Select(x => x.Stok))</a></td>*@
                        <td class="d-none d-sm-table-cell">
                            <a href="@Url.Action("TambahEditDataBarang", "Barang", new { id = item.IdBarang, TenantID = Context.Session.GetString("TenantID") })" class="btn btn-sm btn-secondary m-5"><i class="fa fa-pencil text-primary mr-5">Edit</i></a>
                            <a onclick="Delete(@item.IdBarang)" class="float-sm-right btn-sm btn-secondary m-5"><i class="fa fa-times text-danger mr-5">Delete</i></a>
                        </td>
                    </tr>
                }

            </tbody>

        </table>
    </div>
</div>
@section Scripts{
    <script src="~/assets/js/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/assets/jquery.validate.unobtrusive.js"></script>
}


