@using Microsoft.AspNetCore.Http
@model CloudDentist.Models.Transaksi
@{
    ViewData["Title"] = "Tambah_edit_Transaksi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Main Container -->
    <main id="main-container">

        <!-- Page Content -->
        <div class="content">
            <h2 class="content-heading">Anamnesis dan Diagnosis</h2>
            <p>Fasilitas ini digunakan untuk mencatat data anamnesis dan diagnosis pasien tiap pemeriksaaan</p>
            <p>
                <a id="ContentPlaceHolder1_linkObat" href="@Url.Action("list_transaksi_pasien", "Transaksi", new { id = @Context.Session.GetString("pasien_Periksa"), tenantid = @Context.Session.GetString("TenantID") })"> Rekam Medis </a>
                <strong><span>| Anamnesis @*&amp;*@ </span></strong>
                <a id="con_diagnosis" href="@Url.Action("TambahEditDataTindakan", "Tindakan", new { idtransaksi = @Model.IdTransaksi,tenantid = @Context.Session.GetString("TenantID")})"> | Diagnosis </a>
                <a id="con_jual" href="@Url.Action("TambahEditDataJual", "Jual", new { idtransaksi = @Model.IdTransaksi,tenantid = @Context.Session.GetString("TenantID") })"> | Pemberian Obat & Resep </a>
                <a id="con_selesai" href="@Url.Action("Transaksi_Selesai", "Transaksi", new { idtransaksi = @Model.IdTransaksi })"> | Selesai </a>
                <a id="con_selesai" href="@Url.Action("Transaksi_Batal", "Transaksi", new { idtransaksi = @Model.IdTransaksi })"> | Batalkan Pemeriksaan </a>
            </p>

            <!-- Dummy content -->
            <div class="block">
                <div class="block-content">
                    <form asp-action="CreatePost" method="post" id="form-add">
                        <div class="form-group row" hidden>
                            <label class="col-lg-2 col-form-label">TenantID</label>
                            <span> <input asp-for="TenantID" value="@Context.Session.GetString("TenantID")" class="form-control" readonly /></span>
                        </div>
                        <div class="form-group row" hidden>
                            <span> <input asp-for="Username" value="@Context.Session.GetString("Loginuser")" class="form-control" readonly /></span>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label">ID Pasien</label>
                            <span> <input asp-for="IdPasien" id="idpasien" class="form-control" readonly /></span>
                        </div>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label">Tanggal</label>
                            <span> <input asp-for="Tanggal" id="tanggal" type="date" class="form-control" /></span>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <label asp-for="Anamnesis">Anamnesis</label>
                                <textarea asp-for="Anamnesis" id="Anamnesis" class="form-control form-control-lg" rows="2" cols="5"></textarea>
                                <span asp-validation-for="Anamnesis" class="text-danger" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-8">
                                <button type="button" id="submitBtn" class="btn btn-primary min-width-125">Submit</button>
                                <button type="button" id="btnedit" class="btn btn-primary min-width-125">Edit</button>
                                <button type="button" id="btneditsimp" class="btn btn-primary min-width-125">Simpan Edit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>


<!-- END Main Container -->
<script src="~/assets/js/core/jquery.min.js"></script>
@*<script src="~/assets/js/codebase.core.min.js"></script>*@
<script src="~/assets/js/codebase.app.min.js"></script>
<script src="~/assets/js/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="~/assets/js/plugins/sweetalert2/sweetalert2.js"></script>
<script src="~/assets/js/plugins/sweetalert2/sweetalert2.min.js"></script>
<script>

    $('#submitBtn').click(function (event) {
        event.preventDefault();
        saveData();
    });
     $('#btnedit').click(function (event) {
        event.preventDefault();
        editor();
     });
      $('#btneditsimp').click(function (event) {
        event.preventDefault();
        editData();
    });
    function saveData() {
        var token = '@Context.Session.GetString("JWTtoken")';
        var url = $('#form-add').attr("action");
        $.ajax({

            url: "http://localhost:30512/api/transaksi",
            type: 'POST',
            headers: {
                Authorization: 'Bearer ' + token,
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },


            dataType: "json",
            data: JSON.stringify({
                'TenantID': $('#TenantID').val(),
                'Username': $('#Username').val(),
                'IdPasien': $('#idpasien').val(),
                'Tanggal': $('#tanggal').val(),
                'Anamnesis': $('#Anamnesis').val(),

            }),
            success: function (data, textStatus, jqXHR) {
                console.log(data);
                console.log(jqXHR.status);
                if (jqXHR.status == 200) {


                    $("#submitBtn").attr("hidden", true);
                    $("#btnedit").attr("hidden", false);
                    console.log(JSON.stringify(data));
                    if (data.hasOwnProperty("idTransaksi")) {
                        var Id = data.idTransaksi;
                        console.log(url);
                    }
                    swal("Berhasil!", "Data Berhasil di tambah ", "success");
                    var url = "/Transaksi/Tambah_edit_Transaksi?Id=" + Id + "&tenantID=" + '@Context.Session.GetString("TenantID")';
                    setTimeout(function () { window.location.href = url }, 1000);
                }

            },
            error: function (data, xhr, jqXHR, errorThrown) {
                console.log(data);
                console.log(jqXHR.status);
                $("#submitBtn").attr("hidden", false);
                $("#btnedit").attr("hidden", true);
                swal(data.statusText, data.responseJSON, "error");
            }


        });
    }
    function editData() {
        var token = '@Context.Session.GetString("JWTtoken")';
        var url = $('#form-add').attr("action");
        $.ajax({

            url: "http://localhost:30512/api/transaksi",
            type: 'PUT',
            headers: {
                Authorization: 'Bearer ' + token,
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },


            dataType: "json",
            data: JSON.stringify({
                'idTransaksi': @Model.IdTransaksi,
                'TenantID': $('#TenantID').val(),
                'Username': $('#Username').val(),
                'IdPasien': $('#idpasien').val(),
                'Tanggal': $('#tanggal').val(),
                'Anamnesis': $('#Anamnesis').val(),

            }),
            success: function (data, textStatus, jqXHR) {
                console.log(data);
                console.log(jqXHR.status);
                if (jqXHR.status == 200) {


                    $("#submitBtn").attr("hidden", true);
                    $("#btnedit").attr("hidden", false);
                    console.log(JSON.stringify(data));
                    if (data.hasOwnProperty("idTransaksi")) {
                        var Id = data.idTransaksi;
                        //var id = $.param(data.idTransaksi);
                        //var url = "/Tindakan/" + id;
                        console.log(url);
                    }
                    swal("Berhasil!", "Data Berhasil di tambah ", "success");
                    var url = "/Transaksi/Tambah_edit_Transaksi?Id=" + @Model.IdTransaksi + "&tenantID=" + '@Context.Session.GetString("TenantID")';
                    setTimeout(function () { window.location.href = url }, 1000);
                }

            },
            error: function (data, textStatus, errorThrown) {
                $("#submitBtn").attr("hidden", false);
                $("#btnedit").attr("hidden", true);
                swal("Kesalahan!!", data.responseJSON, "error");
            }


        });
    }
    function AfterSubmit() {
        var Anamnesis = $('#Anamnesis').val();
        var tanggal = $('#tanggal').val();
        if (Anamnesis != '' && tanggal != '') {
            $("#btnedit").attr("hidden", false);
            $("#submitBtn").attr("hidden", true);
            $("#Anamnesis").attr("readonly", true);
            $("#btneditsimp").attr("hidden", true);
            $("#con_diagnosis").attr("hidden", false);
            $("#con_jual").attr("hidden", false);
            $("#con_selesai").attr("hidden", false);
        }
    }
     function editor() {
        var Anamnesis = $('#Anamnesis').val();
        var tanggal = $('#tanggal').val();
         if (Anamnesis != '' && tanggal != '') {
             $("#btnedit").attr("hidden", true);
             $("#submitBtn").attr("hidden", true);
             $("#Anamnesis").attr("readonly", false);
             $("#btneditsimp").attr("hidden", false);
         }

    }
    function Check1() {
        var TenantID = $('#Anamnesis').val();
        var tanggal = $('#tanggal').val();
        if (Anamnesis != '' && tanggal != '') {
            $("#btnedit").attr("hidden", false);
            $("#submitBtn").attr("hidden", true);
            $("#Anamnesis").attr("readonly", true);
            $("#btneditsimp").attr("hidden", false);
        }
    }
</script>
@section Scripts{
    <script src="~/assets/js/plugins/jquery-validation/jquery.validate.min.js"></script>
    @*<script src="~/assets/jquery.validate.unobtrusive.js"></script>*@
    <script src="~/assets/js/plugins/sweetalert2/sweetalert2.js"></script>
    <script src="~/assets/js/plugins/sweetalert2/sweetalert2.min.js"></script>

}
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnedit").attr("hidden", true);
        $("#btneditsimp").attr("hidden", true);
        $("#con_diagnosis").attr("hidden", true);
        $("#con_jual").attr("hidden", true);
        $("#con_selesai").attr("hidden", true);
        AfterSubmit();
        $('#tanggal').datepicker({
            useCurrent: true

        });
    });

</script>